@font-face {
  font-family: Guoxiang;
  src: url("./Guoxiang.ttf");
}

@font-face {
  font-family: Shoushu;
  src: url("./HYShangWeiShouShuW.ttf");
}

@font-face {
  font-family: Dasong;
  src: url("./汉仪大宋简.ttf");
}

@font-face {
  font-family: Lingxin;
  src: url("./汉仪菱心体简.ttf");
}
